@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url(https://images.unsplash.com/photo-1546443046-ed1ce6ffd1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#match{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-content: center;
    background: rgb(0, 0, 0, .5);
}

.computer-choice {
    width: 25vw;
    display: flex;
    justify-content: center;
}

#btns{
    text-align: center;
    border-radius: 5px;
}

.round-result{
    height: 1.5rem;
}

button{
    height: 5rem;
    width: 5rem;
    font-size: 5vh;
    margin: 1rem;
    border-radius: 8px;
    position: relative;

    background: rgba(255, 255, 255, .4);
    border: none;
}

button:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fde047;
}

#btns > button:hover {
    background: rgba(255, 255, 255, .5);
}

.play-again{
    font-size: 1rem;
}

.round-result{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border-radius: 5px;
    background: rgb(0, 0, 0, .5);
    color: wheat;
}
